* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* 헤더 시작 */

header {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    padding: 30px 0;
    transition: 0.3s;
    background-color: rgba(24, 24, 24, 0.1);

}

header .logo {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    font-size: 14px;
    color: #fff;
}

header nav ul li a:hover, header nav ul li a:active {
    color: #c7b299;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_menu li {
    margin-right: 29px;
}

.main_menu li:last-child {
    margin-right: 60px;
}

.icon_box li {
    margin-right: 25px;
}

.icon_box li:last-child {
    margin-right: 0;
}

header .container .logo a {
    width: 60px;
    height: 60px;
    background: url(../img/mainlogo.png) no-repeat;
    display: block;
    background-size: contain;
}

/* 스크롤이 아래로 내려갔을 때의 헤더 */
header.sticky {
    position: fixed;
    padding: 7px 0;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

header.sticky nav ul li a {
    color: #c7b299;
}

/* 반응형 헤더 */
.toggle {
    display: none;
}

/* 헤더 끝 */

/* 메인 슬라이드 */

.main_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main_slider_container {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
}

.main_slider_container.animated {
	transition: left .3s ease-in;
}

.slide {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.main_img_box {
    width: 100vw;
    height: 100vh;
}

.main_img_box img {
    width: 100%;
    height: 100%;
}

/* 슬라이더를 움직이는 버튼 */

#prev, #next {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: inline-block;
    
}

#prev i {
    margin-left: -150px;
    font-size: 30px;
    color: #fff;
}

#next i {
    margin-left: 150px;
    font-size: 30px;
    color: #fff;
}

/* 메인 슬라이드 끝 */

.video {
    background: url(../img/fac.jpg) no-repeat center center/cover;
    height: 850px;
    position: relative;
}

.video_wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    transition: 0.7s ease-out;
    opacity: 0;
}

.contents.animate3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}

.video .contents * {
    color: #fff;
}

.video .contents .icon {
    font-size: 4em;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    display: inline-block;
}

.video .contents h3 {
    margin-top: 40px;
}

.video .contents span {
    color: #c7b299;
}

#overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

#overlay .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#overlay .inner .close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: #fff;
    color: #000;
    border-radius: 50%;
    top: -1rem;
    right: -1rem;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
}

#overlay.visible {
    opacity: 1;
    pointer-events: auto;
}
/* 메인 인포 박스 */

/* 첫번째 */
.main_info_box {
    width: 1500px;
    height: 1900px;
    margin: 200px auto;
}

.main_info_box1 {
    width: 100%;
    height: 650px;
    display: flex;
}

.main_info_box1_img {
    width: 60%;
    height: 100%;
}

.main_info_box1_img a img {
    width: 100%;
    height: 100%;
    transition: 0.7s ease-out;
    transform: translate(-300px, 300px);
    opacity: 0;
}

.main_info_box1_img a img.animate {
    width: 100%;
    height: 100%;

    transform: translate(0);
    opacity: 1;
}

.main_info_box1_img a img:hover {
    transform: scale(1.02);
}

.main_info_box1_text {
    width: 40%;
    height: 100%;
    transform: translate(300px, 300px);
    transition: 0.7s ease-out;
    opacity: 0;
}

.main_info_box1_text.animate {
    width: 40%;
    height: 100%;
    transform: translate(0);
    opacity: 1;
}

.info_head {
    font-size: 32px;
    margin: 20px 40px;
}

.info_text {
    font-size: 20px;
    color: #333;
    margin: 20px 40px;
    line-height: 30px;
    letter-spacing: -2px;
}

/* 두번째 */
.main_info_box2 {
    width: 100%;
    height: 1100px;
    margin: 0 auto;
    display: flex;
    margin-top: 180px;
}

.main_info_box2_left {
    width: 45%;
    height: 100%;
    position: relative;
}

.info_box2_left_box {
    width: 550px;
    height: 900px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.box2_left_img_box {
    transform: translate(-300px, 300px);
    opacity: 0;
    transition: 0.7s ease-out;
}

.box2_left_img_box.animate1 {
    transform: translate(0);
    opacity: 1;
}

.box2_left_img_box a img {
    width: 100%;
    transition: 0.5s ease-in;
}

.box2_left_img_box a img:hover {
    transform: scale(1.02);
}

.info_head1 {
    font-size: 32px;
    margin-top: 20px;
}

.info_text1 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    line-height: 30px;
    letter-spacing: -2px;
}

.main_info_box2_right {
    width: 55%;
    height: 100%;
    position: relative;
}

.info_box2_right_box {
    width: 800px;
    height: 565px;
    position: absolute;
    right: 0;
    top: 0;
}

.box2_rigth_img_box {
    transform: translate(300px, 300px);
    opacity: 0;
    transition: 0.7s ease-out;
}

.box2_rigth_img_box.animate2 {
    opacity: 1;
    transform: translate(0);
}

.box2_rigth_img_box img {
    width: 100%;
    transition: 0.5s ease-in;
}

.box2_rigth_img_box img:hover {
    transform: scale(1.02);
}

.info_head2 {
    font-size: 32px;
    margin-top: 20px;
}

.info_text2 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    line-height: 30px;
    letter-spacing: -2px;
}


/* 메인 슬라이드 안 텍스트 */

.main_text_box {
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_text_str {
    color: white;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.main_text_p{
    margin-bottom: 30px;
    font-size: 18px;
    color: #bbbbbb;
}

.main_text_btn {
    width: 175px;
    padding: 10px 30px;
    background: none;
    color: #fff;
    border: 1px solid #b5b5b5;
    transition: 0.3s ease-in;
}

.main_text_btn:hover {
    background-color: rgba(179, 179, 179, 0.3);
}

/* 아이템 박스 */
.content_item_box {
    width: 1500px;
    height: 870px;
    margin: 0 auto;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.item_box_name p {
    width: 1500px;
    margin: 0 auto;
    font-size: 48px;
    top: 0;
    left: 0;
    color: #333;
    margin-top: 180px;
}

.item_box {
    width: 25vw;
    height: 35vh;
    border-radius: 10px;
    position: relative;
}

.box1 a {
    background: url(../img/Electric1.jpg);
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.box1:hover a {
    background: url(../img/Electric2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box2 a {
    background: url(../img/Hatchback1.jpg);
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.box2:hover a {
    background: url(../img/Hatchback2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box3 a {
    background: url(../img/Sedan1.jpg);
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.box3:hover a {
    background: url(../img/Sedan2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box4 a {
    background: url(../img/SUV1.jpg);
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.box4:hover a {
    background: url(../img/SUV2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box5 a {
    background: url(../img/Cou1.jpg);
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.box5:hover a {
    background: url(../img/Cou2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box6 a {
    background: url(../img/open1.jpg);
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.box6:hover a {
    background: url(../img/open2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.item_box p{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    color: #fff;
}

.box1, .box4 {
    transform: translate(-300px, 300px);
    opacity: 0;
    transition: 0.7s ease-out;
}

.box2, .box5 {
    transform: translate(0, 300px);
    opacity: 0;
    transition: 0.7s ease-out;
}

.box3, .box6 {
    transform: translate(300px, 300px);
    opacity: 0;
    transition: 0.7s ease-out;
}
.box1.animate4 {
    transform: translate(0);
    opacity: 1;
}

.box2.animate5 {
    transform: translate(0);
    opacity: 1;
}

.box3.animate6 {
    transform: translate(0);
    opacity: 1;
}

.box4.animate7 {
    transform: translate(0);
    opacity: 1;
}

.box5.animate8 {
    transform: translate(0);
    opacity: 1;
}

.box6.animate9 {
    transform: translate(0);
    opacity: 1;
}


.item_box::before, .item_box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.item_box::before {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 0;
}

.item_box::after {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 0;
}

.item_box:hover::before {width: 95%;}
.item_box:hover::after {height: 95%;}

/* 전시장찾기 시작 */
.test_drive_box {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 200px;
    opacity: 0;
    transition: 2s ease-out;
}

.test_drive_box.animate10 {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 200px;
    opacity: 1;
}

.test_drive_text_box {
    background-color: #E4E8E8;
    width: 360px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px;
}

.test_drive_text_box strong {
    font-size: 38px;
    line-height: 35px;
}

.test_drive_text_box p {
    font-size: 14px;
    color: #4c4c4c;
    margin: 30px 0 50px 0;
}

.test_drive_text_box a {
    font-size: 10px;
    letter-spacing: 3px;
    background-color: #0C121C;
    padding: 15px 20px;
    color: #fff;
    transition: 0.5s ease-in;
}

.test_drive_text_box i {
    padding: 0 5px;
}

.test_drive_text_box a:hover {
    font-size: 11px;
    background-color: #4c4c4c;
}

/* SNS박스 시작 */
.SNS_header_name_box {
    width: 100%;
    background-color: #e9ecec;
    text-align: center;
}

.SNS_header_name_box h1 {
    font-size: 38px;
    padding: 70px 0 30px 0;
    text-transform: uppercase;
}

.SNS_header_name_box p {
    padding: 0 0 70px 0;
}

/* 스와이퍼 시작 */
.swiper {
    width: 100%;
    height: 65vh;
    margin-bottom: 200px;
    cursor: url(../img/swipe.png),auto;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.swiper-slide a {
    position: absolute;
}

.swiper-slide .instar {
    position: absolute;
    bottom: 3%;
    right: 4%;
    font-size: 33px;
    color: #ffffff;
}

.swiper-wrapper {
    align-items: center;
}

/* 스와이퍼 hover효과 */

.swiper-slide a:hover .SNS_hover{
    display: block;
    cursor: url(../img/swipe.png),auto;
}

.SNS_hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    display: none;
    transition: 0.5s ease-in;
}

.SNS_hover_text {
    padding: 5px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* footer시작 */
#footer_main_box {
    width: 100%;
    height: 720px;
}

.footer_top_box {
    width: 1500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px solid #666;
}

.footer_top_nav_box {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid black;
}

.top_nav_ul {
    line-height: 35px;
    padding: 30px;
}

.top_nav_ul li:first-child {
    line-height: 50px;
}

.top_nav_ul li a {
    color: #001E52;
}

.top_nav_ul li a:hover {
    color: #0e00d1;
}

.footer_top_info_ul {
    float: left;
    padding: 0 30px;
}

.footer_top_info_ul li {
    float: right;
    margin-right: 15px;
}

.footer_top_info_ul li a {
    color: #001E52;
}

.footer_top_info_ul li a:hover {
    color: #0e00d1;
}

.footer_top_comp_box {
    width: 400px;
    height: 70px;
    border-top: 1px solid rgb(211, 211, 211);
    position: absolute;
    bottom: 0;
    margin: 0 30px;
}

.footer_top_comp_box small {
    position: absolute;
    top: 20%;
}

.footer_bottom_box {
    width: 1500px;
    height: 220px;
    margin: 0 auto;
}

.footer_bottom_info_box {
    padding: 65px 0 0 30px;
}

.footer_bottom_info_box h2{
    font-size: 20px;
    color: rgb(128, 128, 128);
    padding: 10px 0;
}

.footer_bottom_info_box p {
    color: rgb(158, 158, 158);
}


/* 테블릿 반응형*/
/* 헤더 */
@media screen and (max-width:768px) {
    .container {
        width: 100%;
        padding: 0 15px;
        display: block;
    }

    header {
        position: static;
        top: 0;
        background: rgb(0, 0, 0);
        padding: 20px 0 0;
    }

    .toggle {
        color: white;
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
        line-height: 56px;
        cursor: pointer;
    }

    header .logo a {
        background-image: url(../img/mainlogo.png);
    }

    .icon_box li:last-child {
        display: none;
    }

    .icon_box li a {
        color: #555;
    }

    .icon_box li a i {
        color: white;
    }

    header nav {
        float: none;
        background: #111;
        padding: 0 15px;
    }

    header nav ul {
        float: none;
    }

    header .logo {
        float: none;
        padding-bottom: 20px;
        margin-left: 15px;
    }

    .main_menu {
        display: none;
    }

    .main_menu li {
        float: none;
        border-bottom: 1px solid #252525;
        padding: 15px 0;
    }

    .icon_box {
        position: absolute;
        top: 36px;
        right: 30px;
    }

    /* slide */
    .main_container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .main_slider_container {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
    }

    .main_slider_container.animated {
        transition: left .3s ease-in;
    }

    .slide {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
    }

    .main_img_box {
        width: 100vw;
        height: 100vh;
    }

    .main_img_box img {
        width: 100%;
        height: 100%;
    }

    .main_text_box {
        width: 90%;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main_text_str {
        color: white;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 30px;
    }

    .main_text_p {
        margin-bottom: 30px;
        font-size: 18px;
        color: #bbbbbb;
    }

    .main_text_btn {
        width: 175px;
        padding: 10px 30px;
        background: none;
        color: #fff;
        border: 1px solid #b5b5b5;
        transition: 0.3s ease-in;
    }

    .main_text_btn:hover {
        background-color: rgba(179, 179, 179, 0.3);
    }

    /* 슬라이더를 움직이는 버튼 */

    #prev,
    #next {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateY(-50%);
        z-index: 999;
        display: inline-block;

    }

    #prev i {
        margin-left: -150px;
        font-size: 30px;
        color: #fff;
    }

    #next i {
        margin-left: 150px;
        font-size: 30px;
        color: #fff;
    }

    /* 첫번째 */
    .main_info_box {
        width: 100%;
        height: auto;
        margin: 200px auto;
    }

    .main_info_box1 {
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50vh;
    }

    .main_info_box1_img {
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }

    .main_info_box1_img a img {
        width: 100%;
        height: 100%;
        transform: translate(0);
        opacity: 1;
    }

    .main_info_box1_img a img.animate {
        width: 100%;
        height: 100%;

        transform: translate(0);
        opacity: 1;
    }

    .main_info_box1_img a img:hover {
        transform: scale(1.02);
    }

    .main_info_box1_text {
        width: 100%;
        height: 100%;
        transform: translate(0);
        opacity: 1;
        text-align: center;
    }

    .main_info_box1_text.animate {
        width: 100%;
        height: 100%;
        transform: translate(0);
        opacity: 1;
    }

    .info_head {
        font-size: 32px;
        margin: 20px 40px;
    }

    .info_text {
        font-size: 20px;
        color: #333;
        margin: 20px 40px;
        line-height: 30px;
        letter-spacing: -2px;
    }

    /* 두번째 */
    .main_info_box2 {
        width: 74%;
        height: 620px;
        margin: 0 auto;
        display: flex;
        margin-top: 180px;
        flex-direction: column-reverse;
    }

    .main_info_box2_left {
        width: 95%;
        height: auto;
    }

    .info_box2_left_box {
        width: 100%;
        height: 900px;
    }

    .box2_left_img_box {
        transform: translate(-300px, 300px);
        opacity: 0;
        transition: 0.7s ease-out;
        text-align: center;
    }

    .box2_left_img_box.animate1 {
        transform: translate(0);
        opacity: 1;
        text-align: center;
    }

    .box2_left_img_box a img {
        width: 100%;
        transition: 0.5s ease-in;
    }

    .box2_left_img_box a img:hover {
        transform: scale(1.02);
    }

    .info_head1 {
        font-size: 32px;
        margin-top: 20px;
    }

    .info_text1 {
        font-size: 20px;
        color: #333;
        margin-top: 20px;
        line-height: 30px;
        letter-spacing: -2px;
    }

    .main_info_box2_right {
        width: 100%;
        height: auto;
    }

    .info_box2_right_box {
        width: 100%;
        height: auto;
    }

    .box2_rigth_img_box {
        transform: translate(300px, 300px);
        opacity: 0;
        transition: 0.7s ease-out;
    }

    .box2_rigth_img_box.animate2 {
        opacity: 1;
        transform: translate(0);
        display: flex;
        text-align: center;
        margin: 0 auto;
        flex-direction: column;
    }

    .box2_rigth_img_box img {
        width: 100%;
        transition: 0.5s ease-in;
    }

    .box2_rigth_img_box img:hover {
        transform: scale(1.02);
    }

    .info_head2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .info_text2 {
        font-size: 20px;
        color: #333;
        margin-top: 20px;
        line-height: 30px;
        letter-spacing: -2px;
    }

    /* video */
    .video {
        background: url(../img/fac.jpg) no-repeat center center/cover;
        height: 850px;
        position: relative;
    }

    .video_wrap {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        margin-top: 600px;
    }

    .contents {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        transition: 0.7s ease-out;
        opacity: 0;
    }

    .contents.animate3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .video .contents * {
        color: #fff;
    }

    .video .contents .icon {
        font-size: 4em;
        width: 100px;
        height: 100px;
        background: rgba(0, 0, 0, .2);
        text-align: center;
        line-height: 100px;
        border-radius: 50%;
        display: inline-block;
    }

    .video .contents h3 {
        margin-top: 40px;
    }

    .video .contents span {
        color: #c7b299;
    }

    #overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .8);
        opacity: 0;
        transition: 0.5s;
        pointer-events: none;
    }

    #overlay .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #overlay .inner .close {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: #fff;
        color: #000;
        border-radius: 50%;
        top: -1rem;
        right: -1rem;
        text-align: center;
        line-height: 2rem;
        text-decoration: none;
    }

    #overlay.visible {
        opacity: 1;
        pointer-events: auto;
    }

    .test_drive_box {
        background-position: center;
    }

    .content_item_box {
        width: 100%;
        height: 750px;
        margin: 0 auto;
        margin-bottom: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .item_box a {
        background-position: center;
    }

    .item_box_name p {
        width: 95%;
        font-size: 48px;
        color: #333;
        margin-top: 180px;
        padding: 0 32px;
    }

    .item_box:hover a {
        background-position: center;
    }

    /* footer시작 */
    #footer_main_box {
        width: 100%;
        height: 720px;
    }

    .footer_top_box {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid #666;
    }

    .footer_top_nav_box {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-between;
        border-top: 3px solid black;
        font-size: 12px;
    }

    .top_nav_ul {
        line-height: 35px;
        padding: 30px;
    }

    .top_nav_ul li:first-child {
        line-height: 50px;
    }

    .top_nav_ul li a {
        color: #001E52;
    }

    .top_nav_ul li a:hover {
        color: #0e00d1;
    }

    .footer_top_info_ul {
        float: left;
        padding: 0 30px;
        font-size: 12px;
    }

    .footer_top_info_ul li {
        float: right;
        margin-right: 15px;
    }

    .footer_top_info_ul li a {
        color: #001E52;
    }

    .footer_top_info_ul li a:hover {
        color: #0e00d1;
    }

    .footer_top_comp_box {
        width: 400px;
        height: 70px;
        border-top: 1px solid rgb(211, 211, 211);
        position: absolute;
        bottom: 0;
        margin: 0 30px;
    }

    .footer_top_comp_box small {
        position: absolute;
        top: 20%;
    }

    .footer_bottom_box {
        width: 100%;
        height: 200px;
        margin: 0 auto;
        font-size: 13px;
    }

    .footer_bottom_info_box {
        padding: 65px 0 0 30px;
    }

    .footer_bottom_info_box h2 {
        font-size: 20px;
        color: rgb(128, 128, 128);
        padding: 10px 0;
    }

    .footer_bottom_info_box p {
        color: rgb(158, 158, 158);
    }

}

/* 반응형 모바일 */
@media screen and (max-width:480px) {
    .container {
        width: 100%;
        padding: 0 15px;
        display: block;
    }

    header {
        position: static;
        top: 0;
        background: rgb(0, 0, 0);
        padding: 20px 0 0;
    }

    .toggle {
        color: white;
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
        line-height: 56px;
        cursor: pointer;
    }

    header .logo a {
        background-image: url(../img/mainlogo.png);
    }

    .icon_box li:last-child {
        display: none;
    }

    .icon_box li a {
        color: #555;
    }

    .icon_box li a i {
        color: white;
    }

    header nav {
        float: none;
        background: #111;
        padding: 0 15px;
    }

    header nav ul {
        float: none;
    }

    header .logo {
        float: none;
        padding-bottom: 20px;
        margin-left: 15px;
    }

    .main_menu {
        display: none;
    }

    .main_menu li {
        float: none;
        border-bottom: 1px solid #252525;
        padding: 15px 0;
    }

    .icon_box {
        position: absolute;
        top: 36px;
        right: 30px;
    }

    /* slide */
    .main_container {
        position: relative;
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }

    .main_slider_container {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
    }

    .main_slider_container.animated {
        transition: left .3s ease-in;
    }

    .slide {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
    }

    .main_img_box {
        width: 100vw;
        height: 100vh;
    }

    .main_img_box img {
        width: 100%;
        height: 70%;
    }

    .main_text_box {
        width: 90%;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main_text_str {
        color: white;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 30px;
    }

    .main_text_p {
        margin-bottom: 30px;
        font-size: 15px;
        color: #bbbbbb;
    }

    .main_text_btn {
        width: 175px;
        padding: 10px 30px;
        background: none;
        color: #fff;
        border: 1px solid #b5b5b5;
        transition: 0.3s ease-in;
        font-size: 14px;
    }

    .main_text_btn:hover {
        background-color: rgba(179, 179, 179, 0.3);
    }

    /* 슬라이더를 움직이는 버튼 */

    #prev,
    #next {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateY(-50%);
        z-index: 999;
        display: inline-block;

    }

    #prev i {
        margin-left: -150px;
        font-size: 30px;
        color: #fff;
    }

    #next i {
        margin-left: 150px;
        font-size: 30px;
        color: #fff;
    }

    /* 첫번째 */
    .main_info_box {
        width: 100%;
        height: auto;
        margin: 200px auto;
    }

    .main_info_box1 {
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50vh;
    }

    .main_info_box1_img {
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }

    .main_info_box1_img a img {
        width: 100%;
        height: 100%;
        transform: translate(0);
        opacity: 1;
    }

    .main_info_box1_img a img.animate {
        width: 100%;
        height: 100%;

        transform: translate(0);
        opacity: 1;
    }

    .main_info_box1_img a img:hover {
        transform: scale(1.02);
    }

    .main_info_box1_text {
        width: 100%;
        height: 100%;
        transform: translate(0);
        opacity: 1;
        text-align: center;
    }

    .main_info_box1_text.animate {
        width: 100%;
        height: 100%;
        transform: translate(0);
        opacity: 1;
    }

    .info_head {
        font-size: 25px;
        margin: 20px 40px;
    }

    .info_text {
        font-size: 14px;
        color: #333;
        margin: 20px 40px;
        line-height: 30px;
        letter-spacing: -2px;
    }

    /* 두번째 */
    .main_info_box2 {
        width: 74%;
        height: 620px;
        margin: 0 auto;
        display: flex;
        margin-top: 180px;
        flex-direction: column-reverse;
    }

    .main_info_box2_left {
        width: 95%;
        height: auto;
    }

    .info_box2_left_box {
        width: 100%;
        height: 900px;
    }

    .box2_left_img_box {
        transform: translate(-300px, 300px);
        opacity: 0;
        transition: 0.7s ease-out;
        text-align: center;
    }

    .box2_left_img_box.animate1 {
        transform: translate(0);
        opacity: 1;
        text-align: center;
    }

    .box2_left_img_box a img {
        width: 100%;
        transition: 0.5s ease-in;
    }

    .box2_left_img_box a img:hover {
        transform: scale(1.02);
    }

    .info_head1 {
        font-size: 25px;
        margin-top: 20px;
    }

    .info_text1 {
        font-size: 13px;
        color: #333;
        margin-top: 20px;
        line-height: 30px;
        letter-spacing: -2px;
    }

    .main_info_box2_right {
        width: 100%;
        height: auto;
    }

    .info_box2_right_box {
        width: 100%;
        height: auto;
    }

    .box2_rigth_img_box {
        transform: translate(300px, 300px);
        opacity: 0;
        transition: 0.7s ease-out;
    }

    .box2_rigth_img_box.animate2 {
        opacity: 1;
        transform: translate(0);
        display: flex;
        text-align: center;
        margin: 0 auto;
        flex-direction: column;
    }

    .box2_rigth_img_box img {
        width: 100%;
        transition: 0.5s ease-in;
    }

    .box2_rigth_img_box img:hover {
        transform: scale(1.02);
    }

    .info_head2 {
        font-size: 25px;
        margin-top: 20px;
    }

    .info_text2 {
        font-size: 14px;
        color: #333;
        margin-top: 20px;
        line-height: 30px;
        letter-spacing: -2px;
    }

    /* video */
    .video {
        background: url(../img/fac.jpg) no-repeat center center/cover;
        height: 850px;
        position: relative;
    }

    .video_wrap {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        margin-top: 600px;
    }

    .contents {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        transition: 0.7s ease-out;
        opacity: 0;
    }

    .contents.animate3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .video .contents * {
        color: #fff;
    }

    .video p {
        display: none;
    }

    .video .contents .icon {
        font-size: 4em;
        width: 100px;
        height: 100px;
        background: rgba(0, 0, 0, .2);
        text-align: center;
        line-height: 100px;
        border-radius: 50%;
        display: inline-block;
    }

    .video .contents h3 {
        margin: 10px 0;
    }

    .video .contents span {
        color: #c7b299;
    }

    #overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .8);
        opacity: 0;
        transition: 0.5s;
        pointer-events: none;
    }

    #overlay .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #overlay .inner .close {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: #fff;
        color: #000;
        border-radius: 50%;
        top: -1rem;
        right: -1rem;
        text-align: center;
        line-height: 2rem;
        text-decoration: none;
    }

    #overlay.visible {
        opacity: 1;
        pointer-events: auto;
    }

    .test_drive_box {
        background-position: center;
    }

    .test_drive_text_box {
        width: 360px;
        height: 290px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 15px;
        background-color: rgba(0,0,0,0);
    }

    .test_drive_text_box strong {
        font-size: 38px;
        line-height: 35px;
        color: #fff;
    }

    .test_drive_text_box p {
        font-size: 14px;
        color: #dbdbdb;
        margin: 30px 0 50px 0;
    }

    .test_drive_text_box a:hover {
        font-size: 11px;
        background-color: #4c4c4c;
    }

    .content_item_box {
        width: 100%;
        height: 670px;
        margin: 0 auto;
        margin-bottom: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .item_box a {
        background-position: center;
    }

    .item_box {
        width: 48vw;
        height: 21vh;
        border-radius: 10px;
        position: relative;
    }

    .item_box p {
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: bold;
        color: #fff;
        text-align: center;
    }

    .item_box_name p {
        width: 100%;
        font-size: 24px;
        color: #333;
        margin-top: 180px;
       text-align: center;
    }

    .item_box:hover a {
        background-position: center;
    }

    .SNS_header_name_box h1 {
        font-size: 25px;
        padding: 50px 0 30px 0;
        text-transform: uppercase;
    }

    .SNS_header_name_box p {
        padding: 0px 0 50px 0;
        font-size: 14px;
    }

    .swiper {
        width: 100%;
        height: 30vh;
        margin-bottom: 200px;
        cursor: url(../img/swipe.png),auto;
    }

    /* footer시작 */
    #footer_main_box {
        width: 100%;
        height: 720px;
    }

    .footer_top_box {
        width: 100%;
        height: 567px;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid #666;
    }

    .footer_top_nav_box {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-between;
        border-top: 3px solid black;
        font-size: 12px;
    }

    .top_nav_ul {
        line-height: 25px;
        padding: 30px;
    }

    .top_nav_ul li:first-child {
        line-height: 15px;
        margin-bottom: 25px;
    }

    .top_nav_ul li a {
        color: #001E52;
    }

    .top_nav_ul li a:hover {
        color: #0e00d1;
    }

    .footer_top_info_ul {
        padding: 91px 0px;
        font-size: 12px;
        display: none;
    }

    .footer_top_info_ul li {
        float: right;
        margin-right: 15px;
    }

    .footer_top_info_ul li a {
        color: #001E52;
    }

    .footer_top_info_ul li a:hover {
        color: #0e00d1;
    }

    .footer_top_comp_box {
        width: 400px;
        height: 70px;
        border-top: 1px solid rgb(211, 211, 211);
        position: absolute;
        bottom: 0;
        margin: 0 30px;
    }

    .footer_top_comp_box small {
        position: absolute;
        top: 20%;
    }

    .footer_bottom_box {
        width: 100%;
        height: 200px;
        margin: 0 auto;
        font-size: 13px;
    }

    .footer_bottom_info_box {
        padding: 65px 0 0 30px;
    }

    .footer_bottom_info_box h2 {
        font-size: 20px;
        color: rgb(128, 128, 128);
        padding: 10px 0;
    }

    .footer_bottom_info_box p {
        color: rgb(158, 158, 158);
    }

}