* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
/* 헤더 시작 */
header {
    width: 100%;
    top: 0;
}

#header_wrap {
    overflow: hidden;
    position: fixed;
    width: 94vw;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    z-index: 1000;
    left: 3%;
    top: 1%;
}

#header_wrap nav {
    color: #eee;
    margin-left: 20px;
    font-size: 25px;
}

#header_wrap nav ul {
    display: flex;
    align-items: center;
}

#header_wrap nav ul li {
    float: left;
    color: black;
    margin: 0 30px;
}

#header_wrap nav ul li a {
    display: inline-block;
    color: black
}

#header_wrap nav ul li a:hover {
    opacity: 0.5;
}

.header_icomBox a img {
    width: 35px;
    margin: 0 5px;
}

/* 헤더 끝 */

#fullpage {position:relative;top:0px;z-index:9;width:100%;height:100%;}

.fullsection{width:100%;height:100%;position:relative;}

.quick {position:fixed;right:20px;top:50%;transform:translateY(-50%); z-index:100000}
.quick li {width:10px;height:10px;margin-bottom:10px; border-radius:15px;border:2px solid #fff;cursor:pointer;}
.quick .on {background:#fff;}

/*  slider1  */
.page1 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
/* 페이지 공동 박스 */
.bg{
    width: 94vw;
    height: 85vh;
    position: relative;
    z-index: 1;
    top: 13%;
    left: 3%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.page2 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.page2_left_box {
    width: 47vw;
    height: 85vh;
    background-color: saddlebrown;
}

.page2_text_box {
    width: 47vw;
    height: 35vh;
    background-color: bisque;
    position: absolute;
    top: 31%;
}

.page2_right_box {
    width: 47vw;
    height: 85vh;
    background-color: aqua;
}

.page2_btn_box {
    width: 47vw;
    height: 10vh;
    background-color: #313943;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
}

.prevBtn, .nextBtn {
    color: #fff;
    font-size: 30px;
    position: relative;
    margin: 0 20px;
    top: 30%;
    left: 80%;
}

.page3{
    background:green;
}

.page3_box {
    width: 22vw;
    height: 30vh;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
}

.page3_box p{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page3_box_two {
    width: 35vw;
    height: 30vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page3_category {
    font-size: 18px;
}

.page3_txt {
    font-size: 56px;
    display: block;
    line-height: 61px;
    letter-spacing: 3px;
    padding: 30px 0;
    font-weight: 200;
    text-align: center;
}

.page4{background:blue;}

.page4_left_box {
    width: 24vw;
    height: 85vh;
    background-color: rgb(243, 114, 131);
}

.page4_Benz {
    font-size: 18px;

}

.page4_txt span{
    font-size: 56px;
}

.page4_more {
    font-size: 12px;
}

.page4_right_box {
    width: 70vw;
    height: 85vh;
    background-color: aqua;
    position: relative;
    overflow: hidden;
    list-style: none;
    left: 3.5%; 
}

.page5{background:purple;}
.page6{background:blue;}
.page7{background:purple;}
.page8{background:blue;}

.go_top {
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: #333;
    color: #fff;
    right: 50px;
    bottom: 50px;
    z-index: 10000;
    text-align: center;
    display: none;
}

.go_top i{
    font-size: 30px;
    margin-top: 5px;
}
#back-to-top {
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color: rgba(255, 255, 255, .9);
    color: #313943;
    border: none;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
    transition: all .3s ease-in-out;
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    font-size: .75em;
}

#back-to-top:hover {
    background-color: #fff;
    padding: 1em 3em;
}

#back-to-top.visible {
    opacity: 1;
}