* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
/* 헤더 시작 */
header {
    width: 100%;
    top: 0;
}

#header_wrap {
    overflow: hidden;
    position: fixed;
    width: 94vw;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    z-index: 1000;
    left: 3%;
    top: 1%;
}

#header_wrap nav {
    color: #eee;
    margin-left: 20px;
    font-size: 25px;
}

#header_wrap nav ul {
    display: flex;
    align-items: center;
}

#header_wrap nav ul li {
    float: left;
    color: black;
    margin: 0 30px;
}

#header_wrap nav ul li a {
    display: inline-block;
    color: black
}

#header_wrap nav ul li a:hover {
    opacity: 0.5;
}

.header_icomBox a img {
    width: 35px;
    margin: 0 5px;
}

/* 헤더 끝 */

#fullpage {position:relative;top:0px;z-index:9;width:100%;height:100%;}

.fullsection{width:100%;height:100%;position:relative;}

.quick {position:fixed;right:20px;top:50%;transform:translateY(-50%); z-index:100000}
.quick li {width:10px;height:10px;margin-bottom:10px; border-radius:15px;border:2px solid #fff;cursor:pointer;}
.quick .on {background:#fff;}

/*  slider1  */
.page1 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.page1_text_box{
    width: 100%;
    height: 14.4vh;
    text-align: center;
}

.page1_txt {
    font-size: 56px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
}


/* 페이지 공동 박스 */
.bg{
    width: 94vw;
    height: 85vh;
    position: relative;
    z-index: 1;
    top: 13%;
    left: 3%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.page2 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.page2_left_box {
    width: 47vw;
    height: 85vh;
    background-color: saddlebrown;
}

.page2_text_box {
    width: 47vw;
    height: 35vh;
    background-color: bisque;
    position: absolute;
    top: 31%;
    text-align: center;
}

.page2_text_box h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.page2_txt {
    font-size: 56px;
    font-weight: 200;
    letter-spacing: 3px;
    margin: 23px 0;
    line-height: 51px;
}

.page2_text_box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2_text_box span {
    margin-top: 30px;
}

.page2_right_box {
    width: 47vw;
    height: 85vh;
    background-color: aqua;
}

.page2_btn_box {
    width: 47vw;
    height: 10vh;
    background-color: #313943;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
}

.prevBtn, .nextBtn {
    color: #fff;
    font-size: 30px;
    position: relative;
    margin: 0 20px;
    top: 30%;
    left: 80%;
}

.page2_box {
    width: 22vw;
    height: 30vh;   
    border-radius: 10px;
    position: relative;
}

.page2_box p{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

.page2_box::before, .page2_box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.page2_box::before {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 0;
}

.page2_box::after {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 0;
}

.page2_box:hover::before {width: 95%;}
.page2_box:hover::after {height: 95%;}

.page2_box_two {
    width: 35vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page2_category {
    font-size: 18px;
}

.page2_txt {
    font-size: 56px;
    display: block;
    line-height: 61px;
    letter-spacing: 3px;
    padding: 30px 0;
    font-weight: 200;
    text-align: center;
}

.page4{background:blue;}

.page4_left_box {
    width: 24vw;
    height: 85vh;
    background-color: rgb(243, 114, 131);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.page4_Benz {
    font-size: 18px;

}

.page4_txt {
    text-align: center;
    margin: 30px 0;
}

.page4_txt span{
    font-size: 56px;
    display: block;
}

.page4_more {
    font-size: 12px;
}

.page4_right_box {
    width: 70vw;
    height: 85vh;
    background-color: aqua;
    position: relative;
    overflow: hidden;
    list-style: none;
    left: 3.5%; 
    border-radius: 15px;
}

.page5 .bg .down {
    width: 94vw;
    height: 85vh;
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity: 0.5;
    border-radius: 15px;
}

.page5_box {
    width: 77vw;
    height: 42.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 200;
}

.page5_box h1 {
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #fff;
}

.page5_txt_box {
    width: 77vw;
    height: 21.5vh;
}

.page5_counters {
    display: flex;
    justify-content: space-around;
}

.page5_counters li {
    text-align: center;
}

.page5_counters li h3 {
    font-size: 48px;
    margin: 30px 0 20px;
    color: #fff;
}

.page5_counters li h4 {
    font-size: 14px;
    margin-bottom: 30px;
    color: #c7b299;
    text-transform: uppercase;
}
.page5_counters li .bar {width:30px;height:2px; background:#fff; display:inline-block;}

.page6 {
    background: blue;
}

.page6_video_Box {
    width: 58.6vw;
    height: 59.8vh;
    position: absolute;
    background-color: rgb(137, 137, 235);
    top: 50%;
    left: 32%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.page6_video_txt_box {
    width: 73.7vw;
    height: 77.8vh;
    position: absolute;
    background-color: darkorange;
    top: 50%;
    left: 90.5%;
    transform: translate(-50%,-50%);
    display: flex;
    padding-left: 9vw;
    flex-direction: column;
    justify-content: center;
}

.page6_video_txt_box span {
    text-transform: uppercase;
    font-size: 18px;
}

.page6_video_txt_box strong {
    text-transform: uppercase;
    font-size: 56px;

}

.page7 {
    background: purple;
}

.SNS_box {
    width: 100%;
    height: 56.7vh;
    background-color: sienna;
    position: absolute;
    transform: translateY(-50%);
    top: 54%;
}

.SNS_txt_box {
    width: 100%;
    height: 18.8vh;
    background-color: khaki;
    text-align: center;
}

.SNS_txt_box h6{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3vh;
}

.SNS_txt_box strong {
    font-size: 58px;
    font-weight: 200;
    letter-spacing: 16px;
}

.go_top {
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: #333;
    color: #fff;
    right: 50px;
    bottom: 50px;
    z-index: 10000;
    text-align: center;
    display: none;
}

.go_top i{
    font-size: 30px;
    margin-top: 5px;
}
#back-to-top {
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color: rgba(255, 255, 255, .9);
    color: #313943;
    border: none;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
    transition: all .3s ease-in-out;
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    font-size: .75em;
}

#back-to-top:hover {
    background-color: #fff;
    padding: 1em 3em;
}

#back-to-top.visible {
    opacity: 1;
}