* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* 헤더 시작 */

header {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    padding: 30px 0;
    transition: 0.3s;
    background-color: rgba(24, 24, 24, 0.1);

}

header .logo {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    font-size: 14px;
    color: #fff;
}

header nav ul li a:hover, header nav ul li a:active {
    color: #c7b299;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_menu li {
    margin-right: 29px;
}

.main_menu li:last-child {
    margin-right: 60px;
}

.icon_box li {
    margin-right: 25px;
}

.icon_box li:last-child {
    margin-right: 0;
}

header .container .logo a {
    width: 60px;
    height: 60px;
    background: url(../img/mainlogo.png) no-repeat;
    display: block;
    background-size: contain;
}

/* 스크롤이 아래로 내려갔을 때의 헤더 */
header.sticky {
    position: fixed;
    padding: 7px 0;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

header.sticky nav ul li a {
    color: #c7b299;
}

/* 반응형 헤더 */
.toggle {
    display: none;
}

#main_box {
    width: 100vw;
    height: 70vh;
    position: relative;
}

#main_box img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.main_text_box {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-10%, -50%);
}

.main_text_box h2 {
    font-size: 64px;
}

.main_text_box small {
    font-size: 30px;
}

.main_text_box strong {
    font-size: 30px;
    letter-spacing: 3px;
}

.main_info_box1 {
    width: 100vw;
    height: 60vh;
    margin-top: 200px;
    display: flex;
}

.main_info_box1_img {
    width: 100%;
    height: 100%;
    transform: translateX(-18rem) skew(-35deg);
    overflow: hidden;
}

.main_info_box1_img img {
    width: 100%;
    height: 100%;
    transform: translateX(13rem) skew(35deg);
}

.main_info_box1_img_text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.info_box1_text_box {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.info_box1_text_box h2 {
    font-size: 32px;
    padding: 10px 0;
}

.info_box1_text_box2 {
    text-align: left;
    width: 19vw;
}


/* 메인 인포 박스 2 */

.main_info_box2 {
    width: 100%;
    height: 50vh;
    transform: translateY(-15px);
    display: flex;
}

.main_info_box2_img {
    width: 50%;
    height: 100%;
    transform: translateX(17rem) skew(-35deg);
    overflow: hidden;
}

.main_info_box2_img img {
    width: 100%;
    height: 100%;
    transform: translateX(-11rem) skew(35deg);
}

.main_info_box2_img_text {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.info_box2_text_box {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.info_box2_text_box h2 {
    font-size: 32px;
    padding: 10px 0;
}

.info_box2_text_box2 {
    text-align: left;
    width: 19vw;
}

.main_info_box3 {
    width: 100%;
    height: 50vh;
    display: flex;
}

.main_info__right_box3 {
    width: 50%;
    height: 100%;
    transform: translate(5rem, 4rem) skew(-35deg);
    overflow: hidden;
}

.main_info__right_box3 img{
    transform: translateX(-2rem) skew(35deg);
    width: 130%;
}

.main_info__left_box3 {
    width: 50%;
    height: 100%;
    transform: translateX(9rem) skew(-35deg);
    overflow: hidden;
}

.main_info__left_box3 img{
    transform: translateX(-11rem) skew(35deg);
}

.main_info_box4 {
    width: 100%;
    height: 50vh;
    display: flex;
    transform: translateY(5rem);
}

.main_info_left_box4 {
    width: 50%;
    height: 100%;
    transform: translateX(-17rem) skew(-35deg);
    overflow: hidden;
}

.main_info_left_box4 img {
    transform: translateX(11rem) skew(35deg);
    width: 100%;
    height: 100%;
}

.main_info_rigth_box4 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.main_info_rigth_text_box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    width: 100%;
    margin-top: 200px;
}

.row_box {
    width: 1160px;
    margin: 0 auto;
}

.row_box ul {
    padding: 20px 0;
}

.row_box ul li {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    border-bottom: 1px solid #666;
    padding-top: 35px;
    padding-bottom: 20px;
}

.row_sn {
    font-size: 17px;
    font-weight: 700;
}

#car_color_wid_box {
    width: 100%;
}

.color_box_wrap {
    width: 1160px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.color_box {
    width: 100%;
}

.color_box img {
    width: 100%;
}


.car_color_box {
    width: 1160px;
    display: flex;
    margin: 0 auto;
}

.car_color_pick {
    width: 390px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 1px solid #666;
    letter-spacing: 1px;
}

.color1, .color2, .color3 {
    position: absolute;
}






/* footer시작 */
#footer_main_box {
    width: 100%;
    height: 720px;
    margin-top: 800px;
}

.footer_top_box {
    width: 1500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px solid #666;
}

.footer_top_nav_box {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid black;
}

.top_nav_ul {
    line-height: 35px;
    padding: 30px;
}

.top_nav_ul li:first-child {
    line-height: 50px;
}

.top_nav_ul li a {
    color: #001E52;
}

.top_nav_ul li a:hover {
    color: #0e00d1;
}

.footer_top_info_ul {
    float: left;
    padding: 0 30px;
}

.footer_top_info_ul li {
    float: right;
    margin-right: 15px;
}

.footer_top_info_ul li a {
    color: #001E52;
}

.footer_top_info_ul li a:hover {
    color: #0e00d1;
}

.footer_top_comp_box {
    width: 400px;
    height: 70px;
    border-top: 1px solid rgb(211, 211, 211);
    position: absolute;
    bottom: 0;
    margin: 0 30px;
}

.footer_top_comp_box small {
    position: absolute;
    top: 20%;
}

.footer_bottom_box {
    width: 1500px;
    height: 220px;
    margin: 0 auto;
}

.footer_bottom_info_box {
    padding: 65px 0 0 30px;
}

.footer_bottom_info_box h2{
    font-size: 20px;
    color: rgb(128, 128, 128);
    padding: 10px 0;
}

.footer_bottom_info_box p {
    color: rgb(158, 158, 158);
}